.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  background-color: var(--dark-bg);

  &__heading {
    padding: 0.2em 0;
    margin-bottom: 0.2em;
    font-size: clamp(1.25rem, 0.7237rem + 2.6316vw, 2.5rem);
  }

  &__icon {
    padding-right: 6px;
    transform: scale(1.2);

  }

  &__nav {
    margin: 0 auto;
  }

  &__links-container {
    display: flex;
    flex-direction: row;
  }

  &__link-container {
    list-style-type: none;
  }

  &__link-item {
    padding: 1em;
    font-size: clamp(0.6875rem, 0.3454rem + 1.7105vw, 1.5rem);
    color: #fff;
    text-transform: uppercase;
    text-decoration-color: transparent;
    cursor: pointer;
    transition: text-decoration-color .5s;

    &:hover {
        text-decoration-color: var(--dark-bg);
    }

    &--icon {
        transition: color .5s;
        &:hover {
            color: var(--dark-bg);
        }
    }
  }
}

@media (min-width: 1200px) {
  .header {
    flex-direction: row;
    &__heading {
        margin: 0 auto;
    }
  }
}
