header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    padding: 0.1em 1em;
    background-color: var(--dark-attention);
    color: #444;
}

header p {
    padding: 0 2.5em;
    line-height: 1.5em;
}

/* header p strong {
    background-color:aquamarine;
    color: #333;
} */