* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-success: #4381C1;
  --dark-bg: #5f5c6b;
  --dark-attention: #BEA2C2;

  --day-success: #CAE7B9;
  --day-attention: #F3DE8A;
  
  --danger: #EB9486;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: whitesmoke;
  color: white;
}